*{
    background-color: blanchedalmond;
    padding: 0px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
}
table{
    border-collapse: collapse;
    border: 7px solid rgb(0, 157, 255);
    border-radius: 50px 20px;
    width: 360px;
    height: 360px;
}
td{
    width: 120px;
    height:120px;
    border:5px solid black;
    text-align:center;
    font-size: 70px;
}
button{
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    border: none;
    background-color: brown;
    border-radius: 10px;
    transition: transform 1s;
}
button:hover{
    background-color: blueviolet;
    transform: scale(1.3,1.5);
}
#result{
    font-size: 100px;
    color: chartreuse;
}
#turn{
    text-align: center;
    margin-top: 15px;
    font-size: larger;
    color: rgb(54, 45, 182);
}
